<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--告诉CLR 4.0，整个.NET程序都要使用老的异常捕捉机制-->
  <!--<runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>-->
</configuration>